@model IEnumerable<Sampe.Usuario>
@{
    ViewBag.Title = "Usuários";
}

<div class="container ">
	<ol class="breadcrumb">
		<li><a href="/Home/Index">Home</a></li>
		<li><a href="/Home/Cadastros">Cadastros</a></li>
		<li class="active">Usuários</li>
	</ol>
    <h2>Usuários</h2>
    <a class=" " href="/Usuarios/Create">Novo Usuário</a>
    <br /><br />
    <div class="col-xs-12 col-sm-12 col-md-12 ">
        <div class="row">
            <table class="table table-bordered table-responsive">
                <tr>
                    <th>
                        Nome
                    </th>
                    <th>
                        Login
                    </th>
                    <th>
                        Hierarquia
                    </th>
                    <th>
                        Cargo
                    </th>
                    <th></th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NomeUsuario) @Html.DisplayFor(modelItem => item.SobrenomeUsuario)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Login)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Hierarquia)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cargo.NomeCargo)
                        </td>
                        <td>
                            <a href="/Usuarios/Edit/@item.UsuarioId" class="btn btn-default btn-sm text-center"><span class="glyphicon glyphicon-pencil"></span></a>
                            <a href="/Usuarios/Delete/@item.UsuarioId" class="btn btn-default btn-sm text-center"><span class="glyphicon glyphicon-trash"></span></a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <!--
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()


                <div class="container row">
                    <div class="col-xs-12 col-sm-12 col-md-6">
                        <h4>Novo Usuário</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                       @{
                           Usuario u = new Usuario();
                       }
                        <div class="form-group row ">
                            <label class="control-label col-xs-12 col-sm-12 col-md-4" for="NomeUsuario">Nome</label>
                            <div class="col-xs-12 col-sm-12 col-md-6">
                                <input class="form-control text-box single-line valid" data-val="true" data-val-required="Preencha este campo" id="NomeUsuario" name="NomeUsuario" type="text" value="">

                                <span class="text-danger field-validation-valid" data-valmsg-for="NomeUsuario" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-xs-12 col-sm-12 col-md-4" for="SobrenomeUsuario">Sobrenome</label>
                            <div class="col-xs-12 col-sm-12 col-md-6">
                                <input class="form-control text-box single-line valid" data-val="true" data-val-required="Preencha este campo" id="SobrenomeUsuario" name="SobrenomeUsuario" type="text" value="">
                                <span class="text-danger field-validation-valid" data-valmsg-for="SobrenomeUsuario" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-xs-12 col-sm-12 col-md-4" for="Login">Login</label>

        <div class="col-xs-12 col-sm-12 col-md-6">
            <input class="form-control text-box single-line valid" data-val="true" data-val-required="Preencha este campo" id="Login" name="Login" type="text" onfocus="this.value = NomeUsuario.value">

            <span class="text-danger field-validation-valid" data-valmsg-for="Login" data-valmsg-replace="true"></span>
        </div>
    </div>
    <div class=" form-group row">
        <label class="control-label col-xs-12 col-sm-12 col-md-4" for="Senha">Senha</label>
        <div class=" col-xs-12 col-sm-12 col-md-6">
            <input class="form-control " data-val="true" data-val-required="Preencha este campo" id="Senha" name="Senha" type="password" value="123456">
            <span class="text-danger field-validation-valid" data-valmsg-for="Senha" data-valmsg-replace="true"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="control-label col-xs-12 col-sm-12 col-md-4" for="Hierarquia">Hierarquia</label>
        <div class="col-xs-12 col-sm-12 col-md-6">
            <select class="form-control" id="Hierarquia" name="Hierarquia">
                <option value="Acesso Total">Acesso Total</option>
                <option value="Acesso Administrador">Acesso Administrador</option>
                <option value="Acesso Supervisor">Acesso Supervisor</option>
                <option value="Acesso Produção">Acesso Produção</option>
            </select>
            <span class="field-validation-valid text-danger" data-valmsg-for="Hierarquia" data-valmsg-replace="true"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="control-label col-xs-12 col-sm-12 col-md-4" for="CargoId">Cargo</label>
        <div class="col-xs-12 col-sm-12 col-md-6">
            @Html.DropDownList("CargoId", null, htmlAttributes: new { @class = "form-control" })
            <br /><a class=" " href="/Cargos">Novo Cargo</a>
            <span class="field-validation-valid text-danger" data-valmsg-for="CargoId" data-valmsg-replace="true"></span>
        </div>
    </div>
    <br />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-6">
            <input type="submit" value="Cadastrar" class="btn btn-success" />

        </div>
    </div>

                </div>
            </div>
    }-->
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

