@model Sampe.FormularioTMAtividade

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>FormularioTMAtividade</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AtividadeTM.NomeAtvTm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AtividadeTM.NomeAtvTm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FormularioTrocaMolde.DtRetirada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FormularioTrocaMolde.DtRetirada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusTM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusTM)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
