@model IEnumerable<Sampe.FormularioTMAtividade>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AtividadeTM.NomeAtvTm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FormularioTrocaMolde.DtRetirada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatusTM)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AtividadeTM.NomeAtvTm)
        </td>
        <td>
            @item.FormularioTrocaMolde.DtRetirada.ToString("dd/MM/yyyy")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatusTM)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FormularioTMAtividadeId }) |
            @Html.ActionLink("Details", "Details", new { id=item.FormularioTMAtividadeId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FormularioTMAtividadeId })
        </td>
    </tr>
}

</table>
