@model Sampe.Molde

@{
    ViewBag.Title = "Novo Molde";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container ">
        <div class="col s12 m8 l9">
            <br />
            <h2>Molde</h2>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.NomeMolde, "Molde", htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NomeMolde, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NomeMolde, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Cavidade, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Cavidade, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Cavidade, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col s12 l10">
                    <input type="submit" value="Novo Molde" class="btn " />
                    <a class="btn " href="/Moldes/Index">Voltar</a>
                </div>
            </div>
        </div>

    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
